<%- partial('_partial/head') %>
<body>
  <div class="lis-container">
    <%- partial('_partial/navbar') %>
    <h1><%- __('blog.title') -%></h1>
    <ul class="blog">
      <% site.posts.sort('date', -1).each(function(it){ %>
        <% it.date.locale(page.lang) %>
        <% if (it.lang==page.lang) { %>
          <li>
            <span>
              <%- it.date.format('DD') -%>
              <%- it.date.format('MMM').substring(0,3) -%>
              <%- it.date.format('YYYY') -%>
            </span>
            <a href="<%- it.path -%>">
              <%- it.title -%>
            </a>
          </li>
        <% } %>
      <% }); %>
    </ul>


    <h1><%= __('blog.categories') %></h1>
    <% var all_cats = [] %>
    <% site.posts.sort('date', -1).each(function(it){ %>
    <% it.categories.each(function(cat){ %>
      <% all_cats.push(cat.name) %>
      <% }); %>
    <% }); %>
    <% var cats = [] %>
    <% site.posts.sort('date', 1).each(function(it){ %>
      <% it.categories.each(function(cat){ %>
        <% if (cats.indexOf(cat.name)==-1 && it.lang == page.lang) { %>
          <% cats.push(cat.name) %>
          <span class="list-group-item filter" style="font-size: <%- (10+(all_cats.toString().split(cat.name).length-1)*1.45)+'px' -%>" data-filter=".<%- cat.name.replace(/ /g, '-') %>">
            <%- cat.name.replace(/^[\wĞ°-Ñ]/, c => c.toUpperCase()); -%><sup><%- all_cats.toString().split(cat.name).length - 1 -%></sup>
          </span>
        <% } %>
      <% }); %>
    <% }); %>

    <%- partial('_partial/footer') %> 
    <%- partial('_partial/after_footer') %>
  </div>

</body>
</html>
