<%- partial('_partial/head') %>
<body>
  <% if (page.toc) { %>
    <div class="nfk-container">
      <div class="flex-container">
        <div class="flex-left">
        </div>
        <div class="flex-right">
          <%- partial('_partial/navbar') %>
          <h1><%- page.title %></h1>
        </div>
      </div>
      <div class="flex-container">
        <div class="flex-left">
          <div id="toc">
            <%- toc(page.content, {list_number: false, max_depth:6}) %>
          </div>
        </div>
        <div class="flex-right">
          <% if (page.comments && page.displaycomments != false) { %>
          <a href="/<%- path.replace('index.html','') %>#isso-thread" title="<%- __('blog.comments-for') %>">
            <%- __('article.comments') %>
          </a>
          <% } %>
          <%- page.content %>
          <% if (page.comments) { %>
            <%- partial('_partial/comments') %> 
          <% } %>
          <%- partial('_partial/footer') %> 
        </div>
      </div>
      <%- partial('_partial/after_footer') %>
    </div>
  <% } else { %>
    <div class="lis-container">
      <%- partial('_partial/navbar') %>
      <h1><%- page.title %></h1>
      <% if (page.layout) { %>
        <% page.date.locale(page.lang) %> 
        <%- page.date.format('D MMMM YYYY') %>.
      <% } %>
      <% if (page.comments != false && page.displaycounter != false) { %>
        <a style="padding-left:10px;" href="/<%- path.replace('index.html','') %>#isso-thread" title="<%- __('blog.comments-for') %>">
          <%- __('article.comments') %>
        </a>.
      <% } %>
      <%- page.content %>
      <% if (page.comments != false) { %>
        <%- partial('_partial/comments') %> 
      <% } %>
      <%- partial('_partial/footer') %> 
      <%- partial('_partial/after_footer') %>
    </div>
  <% } %>
</body>
</html>
