<!DOCTYPE HTML>
<% if (page.lang == 'ru') { %>
<html lang="ru">
<% } else if (page.lang == 'en') { %>
<html lang="en">
<% } %>

<head>
  <meta charset="utf-8">
  <% if (page.title) { %>
  <title><%= page.title %></title> 
  <meta property="og:title" content="<%= page.title %>"/>
  <% } %>

  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %><meta name="description" content="<%= page.description %>"> <% } %>
  <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name" content="<%= config.title %>"/>
  <link href="<%- config.root %><%- theme.favicon %>" rel="icon">
  <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">

  <% if (page.jquery) { %>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <% } %>

  <% if (page.transposable == true){ %>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/jquery.transposer.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery.transposer.css" />
  <% } %>

  <% if (page.magnificpopup) { %>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <link rel="stylesheet" href="/css/magnific-popup.min.css" />
  <% } %>

  <% if (page.justifiedgallery) { %>
  <link rel="stylesheet" href="/css/justifiedGallery.min.css" />
  <script src="/js/jquery.justifiedGallery.min.js"></script>
  <% } %>

  <% if (page.datatables) { %>
  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.1.12.1.min.css">
  <script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.1.12.1.min.js"></script>
  <% } %>
</head>
